.weeks-scroller{
    background-image: url(../image/bg6.png);
    background-repeat: repeat;
    
  height: 10%;
}
.item-container{
    height: 64%;
    position: relative;
    top: 18%;
    width: 97.5%;
    margin: 0 auto;
}

.first-div{
    height: 100%;
    float: right;
    width: 30%;
/*    width: 7.8%;*/
}
.last-div{
    height: 100%;
    float: left;
    width: 30%;
/*    width: 7.8%;*/
        
}
.middle-div{
    float: right;
position: relative;
/*right: 19.2%;*/

/*width: 46%;*/
height: 100%;
text-align: center;
/*margin-right: 12%;*/
}

.pre{
   
}
.pre, .next{
/*    height: 90.5%;*/
height: 125%;
    float: right;
    position: relative;
    top: -3%;
}

  #wrapper
        {            
           overflow: hidden;
background-color: transparent;
height: 100%;
float: right;                  
        }
        
        #wrapper ul
        {
            list-style: none;
margin: 0;
padding: 0;
-webkit-transition: -webkit-transform 0.3s linear;
height: 100%; 
float: left;
        }
        
        #wrapper ul li
        {
           float: left;
height: 100%; 
margin-left: 7%;
        }
.high-light,.non-high-light{
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50%;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    position: relative;
    top: 25%
  
}
.high-light{
     background-image: url(../image/on.png);
     color: white;
}
.non-high-light{
    background-image: url(../image/off.png);
    color: black;
}
.counter{
    position: relative;
    top:26%;

}
.first, .last{
    height: 72%;
    position: relative;
    top: 14%;
    
    
}
.first{
    float: right;
}
.last{
    float: left;
}
.first-week,.last-week{
    margin: 0;
color: white;
font-weight: bolder;
font-size: 12px;
position: relative;

width: 95%;
top:22%;
}
.first-week{
    right: 5%;
}
.last-week{
    left: 5%;
    direction: ltr;
}





.list_Container{
    width: 100%;
    height: 100%;
    background: #EBEBEB;
    overflow-y:scroll;
  border-top:1px solid #DD6020; 
}
.list_Container-90{
    height: 90%;
    border-top:none;
}
.list_Container ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    list-style: none;
}

.list_Container .match, .list_Container .schduler{
    height: 22.55%;
    
    /*    border-bottom: 1px solid #B5B5B5;*/
    padding: 0% 3.125% 0% 3.125%;
    background-image: url(../image/bg6.png);
    background-repeat: repeat;
    border-bottom: 1px solid #B4B4B4;
    width: 93.75%;
    
}
.list_Container .schduler {
/*    background-image: url(../image/bg4.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%*/
background-image: linear-gradient(bottom, #E0E0E0 0%, #E0E0E0 50%, white 100%);
background-image: -o-linear-gradient(bottom, #E0E0E0 0%, #E0E0E0 50%, white 100%);
background-image: -moz-linear-gradient(bottom, #E0E0E0 0%, #E0E0E0 50%, white 100%);
background-image: -webkit-linear-gradient(bottom, #E0E0E0 0%, #E0E0E0 50%, white 100%);
background-image: -ms-linear-gradient(bottom, #E0E0E0 0%, #E0E0E0 50%, white 100%);
background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, #E0E0E0),
 color-stop(0.5, #E0E0E0),
 color-stop(1, white)
 );
}

.data{
    width: 100%;

    color: #555555;
    font-size: 11px;
    font-weight: bolder;
    position: relative;
    top: 5%;

}
.country{
    background: rgba(255, 255, 255, 0.6);
/*    height: 34%;*/
height: 40%;

width: 90%;
    margin-right: 5%; 
    position: relative;
    top: 10%;
    text-align: center;


}
.country2{
/*    height: 45% !important;*/
height: 50% !important;
}
.items{
    height: 100%;
float: right;
width: 33.3%;
text-align: center;
}
.country label{
    font-size: 12px;
    font-weight: bolder;
    position: relative;
    top: -14%;
}
.now{
/*    top: -40% !important;
    right: 7%;*/
font-weight: bolder;
    font-size: 10px !important;
    margin: 0px;
}
.score-label{
/*    margin-left: 4%;
    margin-right: 4%;*/
    top: 41% !important;
}

.flag{
    height: 88%;
    position: relative;
    top: 6%;
    max-width: 36%;
}

.options{
       position: relative;
top: 15%;
text-align: center;
height: 22%;
width: 66%;
margin: 0 auto;

}
.option-list{
    width: 100%;
}
.option-list li{
    float: right;
height: 100%;
width: 33.33%;
text-align: center;
}
.options img{
/*    margin-right: 4%;*/
    height: 100%;
/*    width: 8.5%;*/
}




/*********************************************map page*********************************************/
.lightbox{background: black;
          background: rgba(0, 0, 0, .5);


          /*			opacity: .70;*/
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          right: 0px;
          left: 0px;
          bottom: 0px;
          z-index: 100;
          display: none;
}

.map_container{
    width:100%; height:100%; position:absolute; top:0; bottom:0; right:0; left:0; z-index:101;background: transparent;}

.map_bg{

    background-image:url(../image/bg2.png);
    width:82.5%;
    height:29%;
    border:1px solid #ff6600;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 16%;
    background-repeat:no-repeat;
    background-size:100% 100%;

}

.close_bt{ display: block;
           background: url(../image/Untitled-1.png);
           width: 25px;
           height: 25px;
           cursor: pointer;
           border: none;
           background-repeat: no-repeat;
           position: relative;
           right: 96%;
           top: -2%;}


.details{ height:70%; position:relative; 
          top:-10%;
         color:#555; font-size: 100% ; line-height:18%}

.details img{ float:right; margin-right:8%; }

.details div{width: 52%;
             margin-right: 42%;
             position: relative;
             top: 15%;}

#club{ color:#d85100;}

/*************************************************Location page*************************************************/

.map_place_container{width:82.5%; margin-right: auto; margin-left: auto; position: relative; top: 16%; height:65.2%}

#gmap{ width:100%;height: 58%;}	

.map_place_container .map_bg{
    width:100%; height:37%; top:0;
}	

.map_place_container .close_bt{z-index:1000; top:-9%}

/**********************************transfer page**************************************************************/
.table_container{ width:98%; margin-left:auto; margin-right:auto; position:relative; top:-5%;color:#555; font-size: 90% ; line-height:130%; height:30%}
.table_container ul{ list-style:none; width:100%;}
.small_item{ width:20%; float:right;}

.map_bgs{ height:62.5%; margin-left:auto; margin-right:auto;}

.to_border{ border:1px solid #b5b5b5;}

/*********************************************team page**************************************************/
.team_container{ width:100%; height:100%; margin-top:-2%}
.team_container h2{ color:#f77515; font-size: 130%}
.large_t_div{ width:100%; height:37%;}
.first_div{ background:url(../image/question-copy_13.png);
            width:100%;
            height:60.3%;
            background-repeat:no-repeat;
            background-size:100% 100%;}

.first_div img{ float: right;
                margin-right: 5%;
                margin-left: 2%;
            
                position: relative;
                
}
#logo1 ,#logo2{
        height: 80%;
        top:10%;
}
#arrow{ margin-left:5%;
        float:left;
        top: 44%;
       }

.first_div p{ 
/*    padding-top:6%;
              width:60%;*/
              float: right;
color: #2e2e2e;
font-size: 110%;
margin: 0px;
position: relative;
top: 44%;}


.second_div{ background:#fff;
             height:39.7%;
             margin-top:0px}

.second_div ul{ list-style:none; margin-top:0%; margin:0px;}

.second_div ul li{ float:right;
                   width:16%;
}

#first_ul{ color:#f87616 !important;
           font-size:100%;
           font-weight: bold;
}
.team_bg{ height:75%}

.team_close{ top:-3%}