.news_boxes{
    height:78.9%;
    width: 100%;
    background-image: url(../image/bg6.png);
    background-repeat: repeat;
    position:fixed;
	overflow-y:scroll;
    top:16%;
}

.main_news{
    width:100%;
    height: 43.22%;
}

.main_news img{
    height:100%;
    width:100%;
}

.shadow{
    width: 100%;
    height: 9.32%;
    background: rgba(0, 0, 0, .70);
    position: relative;
    top: -9.32%;
}

.shadow p{
	width:100%;
    font-size:16px;
    color:white;
    font-weight:bold;
    margin:0;
    padding:0;
    width:90%;
    position:relative;
    right:5%;
	top:5px;
	overflow:hidden;
}

.news_raw{
    height: 34.75%;
    width: 100%;
    position: relative;
    /*top: -7.92%;*/
    top:-9.32%;
    margin-top:5px;
	background-image: url(../image/bg6.png);
    background-repeat: repeat;
}

.small_news_right, .small_news_left{
    height: 100%;
    width: 49.218%;
}

.small_news_right{

    float:right;
}

.small_news_left{
    float:left;
}

.small_news_right img, .small_news_left img{
    height:100%;
    width:100%;
}

.small_Shadow{
	width: 100%;
height: 36.6%;
background: rgba(0, 0, 0, .70);
position: relative;
top: -40.3%;         
   
	}
.small_Shadow p{
	width:100%;
	font-size:14px;
    color:white;
    font-weight:bold;
    margin:0;
    padding:0;
    width:90%;
    position:relative;
    right:3%;
	top:3px;
	overflow:hidden;
		}
		
/************************ My Style *******************************/
.upper_ads{
	height:100%;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.upper_ads img{
	width:30%;
	height:100%;
	margin-left:5px;
}

.menu_date{
	width:35%;
	height:100%;
	float:left;
	margin:0px;
}

.menu_date img{
	width:20%;
	height:70%;
	position:relative;
	top:5px;
	left:5px;

}

.menu_date .date{
	direction:rtl;
	width:60%;
	height:60%;
	position:relative;
	right:5px;
	float:right;
	padding-top:3px;
	background-color: rgb(0, 0, 0);
    opacity:0.28;
    filter:alpha(opacity=28); /* For IE8 and earlier */
	color:#ffffff;
	border: 1px solid #696;
	text-align: center;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}

.ads{
	width:65%;
	height:100%;
	float:right;
	margin:0px;
	background-color:#e85f11;
}

.menu{
	width:35%;
	height:92.7%;
	position:relative;
	z-index:10;
	margin:0;
	float:left;
	left:-35%;
	background-color:#424242;
}

.brdr1{
	width:100%;
	height:2%;
	background-color:#3a3a3a;
}

.brdr2{
	width:100%;
	height:2%;
	background-color:#464646;
}

.first_item{
	background-color:#424242;
	direction:rtl;
	width:100%;
	height:14%;
}

#sub1,#sub2,#sub3{
	width:100%;
	height:45%;
	display:block;
}

.scnd_item{
	background-color:#4f4f4f;
	direction:rtl;
	width:100%;
	height:25%;
}

.first_item .cont,.scnd_item .cont{
	width:70%;
	height:96%;
	margin-left:auto;
	margin-right:auto;
}

.cont img{
	float: left;
	width: 30%;
	height: 50%;
	position: relative;
	top: 13%;
}

.on,.on_s{
	display:none;
}

.off,.off_s{
/*    display: block;*/
}

#on1 label,#on2 label,#on3 label{
	float:right;
	font-size:16px;
	font-weight:bold;
	color:#e85f11;
	position: relative;
	top: 25%;
}

#on11 label,#on12 label,#on13 label,#on14 label,
#on21 label,#on22 label,#on23 label,#on24 label,
#on31 label,#on32 label,#on33 label,#on34 label{
	float:right;
	padding-top:7px;
	font-size:14px;
	color:#e85f11;
}

#off1 label,#off2 label,#off3 label{
	float:right;
	font-size:16px;
	font-weight:bold;
	color:#e7e7e7;
	position: relative;
	top: 25%;
}

#off11 label,#off12 label,#off13 label,#off14 label,
#off21 label,#off22 label,#off23 label,#off24 label,
#off31 label,#off32 label,#off33 label,#off34 label{
	float:right;
	padding-top:7px;
	font-size:14px;
	color:#e7e7e7;
}