.list_Container{
    height: 83.5%;
    background: #EBEBEB;
    overflow-y:scroll;
}
.list_Container table tr{
    height: 30%;
}
.list_Container ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.list_Container ul li{
    height: 31%;
    padding: 0% 3.125% 0% 3.125%;
     background-image: url(../image/bg6.png);
    background-repeat: repeat;

    border-bottom: 1px solid #B4B4B4;
	list-style:none;
}

.upper_icons{
	width:100%;
	background-color:#ffffff;
	height:6.5%;
}

.news_icons{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
        height: 80%;
        position: relative;
        top: 10%;
}
.news_icons a{
    text-decoration: none;
}
.news_icons img{
	margin-left:5%;
	margin-right:5%;
        height: 100%;
}
.off{
/*    display: block;*/
}
.on{
    display: none;
}

.main_title{
	font-weight:bold;
	color:#FF4700;
        font-size: 12px !important;
}

.small_title{
	font-size:12px;
	font-weight:bold;
	color:#5D5D5D;
}

.list_label{
	color:#848484;
        font-size: 12px !important;
}
/*****************************   Details Design ***********************************************/
.details-container{
    
    height: 100%;
    width: 100%;
    background-image: url(../image/bg6.png);
    background-repeat:repeat;
    border-top:1px solid #DD6020; 
   
    
}
.title-container{
    height: auto;
    width: 82.8%;
    margin: 0 auto;
    text-align: center;
    
}
.title-container p{
    font-size: 16px;
    font-weight: bolder;
    color: #DD6020;
}


.img-container{
    height:38.5%;
    width: 82.8%;
    margin: 0 auto;
}
.news-img{
    height: 100%;
    width: 86.1%;
    float: right;
}
.char-div{
    height: 100%;
    width: 13.9%;
    background: rgba(0, 0, 0, .3);
    margin-right: 86.1%;
}
.char-div ul{
    list-style: none;
margin: 0px;
padding: 0;
height: 100%;
width: 100%;
}
.char-div ul li{
    height: 33.33%;
    text-align: center;
    
}
.char-div ul li img{
    height: 38.26%;
    position: relative;
    top: 30.87%;
}

.readers-div{
    height: 5%;
    position: relative;
    left: 10%;
width: 90%;
    
}
.readers-div img{
    float: left;
    height: 48%;
    position: relative;
    top: 15%;
}
.date, .readers{
     font-size: 13px;
  margin: 0;
    color: #DD6020;
    float: left;
    position: relative;
    top: 15%;



}
.readers{
    margin-left: 3px;
}
.date{
    margin-left:  3%;
    direction: ltr;
}
.data-container{
    height: 30%;
    width: 82.8%;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bolder;
    
}