.userInfo{
    height: 100%;
    background: white;
    width: 100%;
    margin: 0px;
}
.personal-acount, .alert, .alert-news, .fav-team{

    background-image: url(../image/bg6.png);
    background-repeat: repeat;
 
    border-bottom:  1px solid #B6B6B6;
}
.personal-acount{
    height: 42.3%;
    margin-top: 1px;
}
.alert{
    height: 24.5%;
    margin-top: 1px;
  
}
.alert-news{
    height: 17.5%;
    margin-top: 1px;
    border: none !important;
}
.fav-team{
    height:15.7%;
    border: none;
/*    margin-top: 1px;*/
    
}


.personal-acount .header, .alert .header, .alert-news .header, .fav-team .header{
    font-weight: bold;
    font-size: 16px;
    color: #FF5109;
    position: relative;
    /*top: 3%;*/
    margin-right: 6.56%;
    width:100%;

}

.personal-acount .header{
    top:7.1%;

}
.alert .header{
    top: 12.5%;
}
.alert-news .header{
    top: 17.5%;
}
.fav-team .header{
    top:21.15%;
    float: right;
}
.profilePic-div{
    width: 25.6%;
    height: 52.25%;
    margin-right: 3.75%;
/*    background-image: url(../image/profilePic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/

    position: relative;
    top: 5%;
    text-align: center;

}
.profilePic{
    height: 100%;
    width: 100%;
   

/*    opacity: ;*/

}

.name-pass{
    width: 66.25%;
    height: 71.61%;
    margin-right: 33.75%;
    position: relative;
    /*    top:7.5%;*/
    top: -40%;

}
.user-input{
    width:  80%;
    padding-right: 3%;
    height: 26.12%;
    position: relative;

    background-image: url(../image/bg7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
}
.fav-team div{
    width: 66.25%;
    margin-right: 33.75%;
}
.opt-button{
    height: 46.8%;
/*    height: 24.3%;*/
    width: 37%;
    position: relative;
    top: 20%;
}

/************************************************/
.radio-div , .radio-div2{
    position: relative;
    margin-right: 8.75%;
    width: 90%;
}
.radio-div{
    height: 22%;
    top: 9%; 
    
}
.radio-div2{
    height: 31%;

    top: 11.76%;
}
.radio-div img ,.radio-div2 img{
    height: 100%;


}
.radio-div label , .radio-div2 label{
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: -20%;
}
.second-radio{
    margin-right: 44.68%;
}
.your-team_unactive{
    margin-right: 54%;
    font-weight: bold;
/*    font-size: 14px !important;*/
    color: #8A8A8A;
 
    text-decoration: underline;
}
.your-team_active{
    margin-right: 54%;
    font-weight: bold;
/*    font-size: 14px !important;*/
    color: black;

    text-decoration: underline;
}
.teams-names{
    width: 30%;
    height: 25%;
margin-right: 54%;

  overflow-y: scroll;
}
.teams-names label{
    display: list-item;
    color: #6E6E6E;
}
.choose-team{
    margin-right: 59.3%;
    position: relative;
    top: 22%;
    font-size: 16px;
    font-weight: bold;
    text-decoration:underline
}


/************************        pop up        ******************************/

.popup{
/*    margin: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    display: none;*/


margin: 0px;
width: 100%;
height: 100%;
/*height: 81%;*/
background: rgba(0, 0, 0, .5);
position: fixed;
top: 9.5%;
/* display: none;*/
z-index: 0;
opacity: 0
}
.popup-container{
/*    height: 96.2%;*/
height: 77.2%;
    width: 90.3125%;
    margin: 0 auto;
    position: relative;
    top: 1%;

}
.popup-header{
    height: 12.57%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-image: linear-gradient(bottom, #141414 0%, #616161 100%);
    background-image: -o-linear-gradient(bottom, #141414 0%, #616161 100%);
    background-image: -moz-linear-gradient(bottom, #141414 0%, #616161 100%);
    background-image: -webkit-linear-gradient(bottom, #141414 0%, #616161 100%);
    background-image: -ms-linear-gradient(bottom, #141414 0%, #616161 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #141414),
        color-stop(1, #616161)
        );

}
.popup-header label{
    position: relative;
    top: 35%;

}
.popup-body{
    height: 87.43%;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.team-div{
    height: 97.4%;
    width: 95.8%;
    margin: 0 auto;
    background: white;
    border-radius:10px; 
    overflow-y: scroll
}

.save{
    float: right;
    position: relative;
    right: 6.6%;
    height: 66%;
    top:17% 
}
.cancel{
    float: left;
    position: relative;
    left: 6.6%;
    height: 66%;
    top: 17%;
}

.team-div ul{

    width: 100%;
    height: 100%;
    margin: 0pc;
    padding: 0px;
    list-style: none;
}
ul li{
    height: 14.72%;
    margin: 0 1.8% 0 1.8%;
    border-bottom: 1px solid #E0E0E0; 

}
li .logo{
    height: 86.3%;
    margin-right: 7.7%;
    float: right;
    position: relative;
    top: 6.85%;
}
li label{
    font-weight: bold;
    font-size: 15px;
    margin-right: 8.1%; 
    position: relative;
    top: 35%;


}
li .check1, li .check2, li .check3 {
    float: left;
    height: 34%;
    width: auto;
    position: relative;
    top: 33%;
    margin-left: 5.02%;


    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.check1 img, .check2 img, .check3 img{

    height: 100%;
    opacity: 0;
}


.check1{
    background-image: url(../image/check1.png);

}
.check2{
    background-image: url(../image/check2.png);
}
.check3{
    background-image: url(../image/check3.png);
}
