.list_Container{
    height: 95%;
    background: #EBEBEB;
    overflow-y:scroll;
}
.list_Container ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.list_Container ul li{
    height: 31%;
    padding: 0% 3.125% 0% 3.125%;
    background-image: url(../image/bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	list-style:none;
}

.upper_icons{
	width:100%;
	background-color:#ffffff;
	height:6.5%;
}

.news_icons{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
.news_icons img{
	margin-left:5%;
	margin-right:5%;
}

.main_title{
	font-weight:bold;
	color:#FF4700;
}

.small_title{
	font-size:12px;
	font-weight:bold;
	color:#5D5D5D;
}

.list_label{
	color:#848484;
}


.teams{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    vertical-align: middle;
    border-collapse: collapse;
    display: block;
    height: 100%;
    font-weight: bolder;

}

.teams tr{
    display: inline-table;
    width: 100%;
    text-align: center;
}

.teams tbody{
    height: 100%;
    width: 100%;
    display: block;
    overflow-y: scroll;
}
.teams tbody tr{
    height: 12.6%;
}

.teams tbody tr td{
	width:50%;
}
.teams tbody tr:nth-child(odd) {
    background-image: url(../image/oddBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	text-align:center;
}
.teams tbody tr:nth-child(even) {
    background-image: url(../image/evenBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%

}

.clickable{
	cursor:pointer;
}
