.two-chooses, .list{
    height: 90%;
    background: #EBEBEB;
    overflow-y:scroll;
    background: white;
}
.list{
    background: #F5F5F5 !important ;
}
.two-chooses ul, .list ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
    list-style: none;


}
.two-chooses ul li{
    height: 13.1%;
    /*    border-bottom: 1px solid #B5B5B5;*/

    background: white;
    background: url(../image/arrow.png) no-repeat left center;
}
.darkItem{
    background-color:  #EAEAEA !important;
}
.two-chooses label {
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    top: 27%;
    right: 11.5%;
    color: #454545;
}



/****************************************************/
.list li{
    background: white;
    height: 18.57%;
    font-weight: bolder;
    font-size: 14px;
    color: #7F7F7F; 

}
.list li label{
    position: relative;
    top: 30%;
    float: right;
    color: #7F7F7F;
    right: 3%;
}
.list li p{
    position: relative;
    right:   11.8%;
    top: 15%;
    bottom: 15%;
    max-width: 85%;
    margin: 0px;
    padding: 0px;

}
.list li:nth-child(even) { background: #EAEAEA; color: #D95413 }


