.textContent{
	background-image:url(../image/bg9.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:100%;
	height:100%;
	}
	
	.data{
		height: 45%;
	margin-right: 1.5%;
	background-image:url(../image/bg10.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	text-align:center;
	width:97%;
		}
	
	#wrapper {
	z-index: 1;
	width: 92%;

	overflow: auto;
	height: 56%;
margin-top: 6%;
margin-right: 5%;


}

#scroller {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;

	padding:0;
}
.labelHead{
	
	position: relative;
	top: 15px;
	font-size: 16px;
	font-weight: bolder;
	color:#228B22;
}
.weInfo{
	width: 100%;

overflow:scroll;
	}
	.weInfo img{
		float:right;
		}
.weInfo p{
	font-size:16px;
	width:100%;
	margin-right:0%;
	
	
	}
	.weInfo label{
		font-size:16px;
		font-weight:bolder;
		color:#228B22 ;
		}
		
		.imgTable{
			width:100%;
			height:50%;
			text-align:center;}
		.imgTable img{
			/*width:25%;*/
			height:26%;
			
			}