.news_boxes{
    height:78.9%;
    width: 100%;
    background-image: url(../image/bg6.png);
    background-repeat: repeat;
    position:fixed;
	overflow-y:scroll;
  /*  top:21.1%;*/
  top:21%;
}

.main_news{
    width:100%;
    height: 43.22%;
}

.main_news img{
    height:100%;
    width:100%;
}

.shadow{
    width: 100%;
    height: 9.32%;
    background: rgba(0, 0, 0, .70);
    position: relative;
    top: -9.32%;
}

.shadow p{
	width:100%;
    font-size:16px;
    color:white;
    font-weight:bold;
    margin:0;
    padding:0;
    width:90%;
    position:relative;
    right:5%;
	top:5px;
	overflow:hidden;
	

}


.news_raw{
    height: 34.75%;
    width: 100%;
    position: relative;
    /*top: -7.92%;*/
    top:-9.32%;
    margin-top:5px;
	background-image: url(../image/bg6.png);
    background-repeat: repeat;
}
.small_news_right, .small_news_left{
    height: 100%;
    width: 49.218%;
}
.small_news_right{

    float:right;
}
.small_news_left{
    float:left;
}

.small_news_right img, .small_news_left img{
    height:100%;
    width:100%;
}
.small_Shadow{
	width: 100%;
height: 36.6%;
background: rgba(0, 0, 0, .70);
position: relative;
top: -40.3%;         
   
	}
.small_Shadow p{
	width:100%;
	font-size:14px;
    color:white;
    font-weight:bold;
    margin:0;
    padding:0;
    width:90%;
    position:relative;
    right:3%;
	top:3px;
	overflow:hidden;
		}